.svg-search {
    width: 24px;
    height: 25px;

    stroke: $black;

    &:hover {
        stroke: $orange;
        fill: $orange;
        transition: all 0.2s ease-in;
    }

    transition: all 0.2s ease-in;
}

.svg-logo-black {
    max-width: 226px;
    max-height: 72px;
    width: 100%;
    height: 100%;
    

    @media (max-width:1060px) {
        max-width: 150px;
        max-height: 48px;
        
    }

    @media (max-width:1020px) {
        max-width: 110px;
        max-height: 45px;
        
    }
}

.svg-vk,
.svg-ok {
    width: 60px;
    height: 60px;
    fill: $gray;

    &:hover {
        fill: $orange;
        transition: all 0.2s ease-in;
    }

    &:active {
        fill: $carrot;
        transition: all 0.2s ease-in;
    }

    transition: all 0.2s ease-in;

}