.nav {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    @media (max-width:1020px) {
        font-size: 16px;
        color: $darkest-gray;
        font-weight: 700;
    }
}

.nav__list {
    display: flex;
    gap: 85px;
    max-width: 615px;
    width: 100%;

    @media (max-width:1060px) {
        gap: 60px;
        max-width: 540px;
    }

    @media (max-width:1020px) {
        gap: 40px;
        max-width: 447px;
    }
}

.nav__list-item {
    position: relative;
    display: flex;
    align-items: center;
}

.nav__list-column {
    display: flex;
    flex-direction: column;
}