.photo__text {
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 49px;
    right: 385px;
    width: 433px;
    text-align: left;

    @media (max-width: 1200px) {
        bottom: 49px;
        left: 51px;
    }

    @media (max-width:1020px) {
        bottom: 23px;
        left: 40px;
        width: 366px;
    }

    @media (max-width:767px) {
        position: static;
        color: $black;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        max-width: 290px;
    }
}

.photo__img img {
    @media (max-width:1020px) {
        width: 668px;
        height: 650px;
    }

    @media (max-width:767px) {
        width: 290px;
        height: 200px;
        margin-bottom: 8px;
    }
}

.photo__btn {
    position: absolute;
    right: 50px;
    bottom: 68px;
    left: 643px;
    outline: 3px solid $orange;
    outline-offset: -2px;
    transition: all 0.2s ease-in;
    width: 175px;

    &:hover {
        background-color: $orange;
        transition: all 0.2s ease-in;
    }

    &:focus {
        background-color: $orange;
        transition: all 0.2s ease-in;

        @media (max-width:767px) {
            color: $white;
        }
    }

    &:active {
        background-color: $carrot;
        outline-color: $carrot;
        transition: all 0.2s ease-in;
        @media (max-width:767px) {
            color: $white;
        }
    }

    @media (max-width: 1919px) {
        left: 600px;
    }

    @media (max-width: 1870px) {
        left: 550px;
    }

    @media (max-width: 1810px) {
        left: 500px;
    }

    @media (max-width: 1770px) {
        left: 600px;
    }

    @media (max-width: 1550px) {
        left: 550px;
    }

    @media (max-width: 1500px) {
        left: 575px;
    }

    @media (max-width: 1430px) {
        left: 500px;
    }

    @media (max-width: 1200px) {
        left: 701px;
        bottom: 68px;
    }

    @media (max-width:1020px) {
        left: 453px;
        bottom: 58px;
    }

    @media (max-width:767px) {
        left: 403px;
        margin-top: 12px;
        position: static;
        color: $orange;
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        width: 162px;
        height: 40px;
        line-height: normal;
        padding: 0;
        border-radius: 8px;
        outline-width: 2px;
    }
}