.socials {
    display: flex;
}

.socials__svg-vk,
.socials__svg-ok {

    transition: all 0.2s ease-in;

    &:focus {
        outline: 2px solid $orange;
        outline-offset: 3px;
        transition: all 0.2s ease-in;
    }

}

.socials__list-item:not(:last-child) {
    margin-right: 25px;
}