.stages {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;

    @media (max-width:1060px) {
        margin-bottom: 81px;
    }

    @media (max-width:767px) {
        margin-bottom: 60px;
    }
}

.stages__left {
    display: flex;
    flex-direction: column;
    order: 2;

    @media (max-width:800px) {
        order: 3;
    }
}

.stages__title {
    display: flex;

    @media (max-width:800px) {
        margin-bottom: -2px;
    }
}

.stages__right {
    margin-top: 8px;
    order: 3;

    @media (max-width:800px) {
        order: 2;
        margin-top: 0;
        margin-bottom: 39px;
    }

    @media (max-width:767px) {
        margin-bottom: 16px;
    }
}

.stages__content {
    display: flex;

    @media (max-width:800px) {
        flex-direction: column;
    }
}

.stages__photo {
    display: flex;
}

.stages__right img {

    @media (max-width:800px) {
        width: 668px;
        height: 284px;
    }

    @media (max-width:767px) {
        width: 290px;
        height: 160px;
    }

}

.stages__text {
    max-width: 758px;
    overflow-y: visible;
    margin-bottom: 18px;
    margin-right: 142px;
    font-weight: 400;
    letter-spacing: normal;

    @media (max-width:1060px) {
        max-width: 437px;
        margin-right: 50px;
        margin-bottom: 24px;
    }

    @media (max-width:800px) {
        max-width: 667px;
        max-height: 352px;
        margin-right: 0;

        br {
            display: none;
        }
    }

    @media (max-width:767px) {
        font-size: 14px;
        line-height: 28px;
        width: 290px;
        max-height: 728px;
    }
}

.stages__btn {
    display: flex;
}

.stages__btn-1,
.stages__btn-2 {
    @media (max-width:767px) {
        text-align: center;
        font-size: 12px;
        font-weight: 700;
        line-height: normal;
        border-radius: 8px;
        padding: 0;
    }
}

.stages__btn-1 {
    margin-right: 32px;

    &:hover {
        background-color: $light-orange;
        transition: background-color 0.2s ease-in;
    }

    &:focus {
        background-color: $light-orange;
        transition: background-color 0.2s ease-in;
    }

    &:active {
        background-color: $carrot;
        transition: background-color 0.2s ease-in;
    }

    transition: background-color 0.2s ease-in;

    @media (max-width:767px) {
        width: 162px;
        height: 40px;
    }
}

.stages__btn-2 {
    color: $black;
    outline: 1px solid $black;
    font-weight: 400;
    font-family: $font-main;

    &:hover {
        outline-color: $gray;
        color: $white;
        background-color: $gray;
        transition: all 0.2s ease-in;
    }

    &:focus {
        outline-color: $gray;
        color: $white;
        background-color: $gray;
        transition: all 0.2s ease-in;
    }

    &:active {
        outline-color: $black;
        color: $white;
        background-color: $black;
        transition: all 0.2s ease-in;
    }

    @media (max-width:767px) {
        width: 118px;
        height: 39px;
    }


    transition: all 0.2s ease-in;
}