/*

font-family: 'Montserrat', sans-serif;

*/

//Fonts
$font-main: 'Montserrat', sans-serif;



//Colors
$black: #000;
$gray: #666666;
$white: #fff;
$darkest-gray: #333;
$dark-gray: #414141;
$light-gray: #CACACA;
$orange: #FF9900;
$carrot: #E1670E;
$light-orange: #FFB84D;

.white {
    color: $white;
}

.black {
    color: $black;
}

.background-orange {
    background-color: $orange;
}

//Media
$tablet: 1160px;