.about {
    margin-bottom: 100px;

    @media (max-width:1770px) {
        margin-bottom: 78px;
    }

    @media (max-width:1020px) {
        margin-bottom: 81px;
    }

    @media (max-width:767px) {
        margin-bottom: 59px;
    }
}

.about__title {
    margin-bottom: 21px;

    @media (max-width:1060px) {
        margin-bottom: 22px;
    }

    @media (max-width:767px) {
        margin-bottom: 20px;
    }
}

.about__text {
    margin-bottom: 50px;
    max-width: 1235px;
    width: 100%;
    font-weight: 400;
    overflow-y: visible;

    @media (max-width:1060px) {
        max-width: 924px;
        margin-bottom: 59px;
    }

    @media (max-width:992px) {
        max-width: 668px;
        margin-bottom: 54px;
    }

    @media (max-width:767px) {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }

    @media (max-width:767px) {
        margin-bottom: 14px;
    }
}

.about__info {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    position: relative;

    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 0;
    }
}

.about__photo {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 868px;
    width: 100%;
    max-height: 622px;
    height: 100%;

    &::before {
        content: "";

        position: absolute;
        left: 0px;
        top: 426px;
        width: 100%;
        height: 196px;
        border-radius: 32px;

        background-color: rgba(0, 0, 0, 0.5);

        @media (max-width:767px) {
            display: none;
        }
    }

    img+img {
        margin-top: 32px;
    }

    @media (max-width:1770px) {
        margin: auto 0;
    }

    @media (max-width: 1200px) {

        margin-bottom: var(--gap);
        max-width: 924px;
        max-height: 640px;

        &::before {
            content: "";
            top: 444px;
        }
    }

    @media (max-width:1020px) {

        margin-bottom: 42px;

        &::before {
            content: "";
            top: 454px;
        }
    }

    @media (max-width:767px) {
        margin-bottom: 32px;
    }
}

.about__photo img {
    height: 622px;

    @media (max-width: 1200px) {
        height: 640px;
    }

    @media (max-width: 1020px) {
        height: 650px;
    }

    @media (max-width: 700px) {
        height: 200px;
    }

}

.about__cards {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.about__card {
    width: 870px;
    max-height: 295px;
    height: 100%;
    border: 1px solid $light-gray;
    border-radius: 32px;
    padding: 65px 120px 65px 60px;

    @media (max-width:1919px) {
        padding: 65px 60px 65px 60px;
    }

    @media (max-width:1770px) {
        padding: 35px 35px 65px 60px;
        width: 550px;
        max-height: 485px;
    }

    @media (max-width:1500px) {
        padding: 20px 35px 20px 35px;
        width: 450px;
    }

    @media (max-width:1500px) {
        padding: 20px 35px 20px 35px;
        width: 450px;
    }

    @media (max-width:1350px) {
        width: 300px;
        max-height: 550px;
    }

    @media (max-width: 1200px) {
        width: 924px;
        max-height: 295px;
        padding: 65px 157px 65px 77px;
    }

    @media (max-width: 1020px) {
        width: 668px;
        max-height: 235px;
        padding: 35px 48px 35px 40px;
    }

    @media (max-width:767px) {
        left: 453px;
        bottom: 58px;
        border: none;
        padding: 0;
    }

    @media (max-width:766px) {
        width: 100%;
    }

}


// .about__card:not(:last-child) {
//     @media (max-width:767px) {
//         margin-bottom: 32px;

//     }
// }