.cta__title {
    color: $light-gray;
    font-size: 48px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;

    @media (max-width:1060px) {
        margin-bottom: 26px;
    }

    @media (max-width:767px) {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
    }
}

.cta__form {
    @media (max-width:767px) {
        display: flex;
        flex-direction: column;
    }

}