.form {
    display: flex;
    flex-direction: column;

    input+input {
        margin-top: 25px;
    }
}

.form__input {
    display: flex;
    padding: 14px 24px;
    background-color: $dark-gray;
    max-width: 570px;
    max-height: 60px;
    width: 100%;
    border-radius: 16px;
    line-height: 32px;
    transition: all 0.2s ease-in;

    &::placeholder {
        color: $light-gray;
        font-size: 16px;
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;

        @media (max-width:767px) {
            color: $light-gray;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &:hover {
        background-color: $gray;
        transition: all 0.2s ease-in;

    }

    &:focus {
        background-color: $gray;
        transition: all 0.2s ease-in;
        outline: none;

    }

    &:focus::placeholder {
        background-color: $gray;
        color: $white;
        transition: all 0.2s ease-in;

    }

    @media (max-width:1060px) {
        max-width: 541px;
    }

    @media (max-width:767px) {
        max-width: 100%;
    }

}

.form__textarea {
    margin-top: 25px;
    resize: none;
    display: flex;
    padding: 14px 24px;
    background-color: $dark-gray;
    max-height: 150px;
    max-width: 570px;
    border-radius: 16px;
    line-height: 32px;
    width: 100%;
    height: 100%;

    &::placeholder {
        color: $light-gray;
        font-size: 16px;
        font-family: $font-main;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;

        @media (max-width:767px) {
            color: $light-gray;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &:hover {
        background-color: $gray;
        transition: all 0.2s ease-in;

    }

    &:focus {
        background-color: $gray;
        transition: all 0.2s ease-in;
        outline: none;

    }

    &:focus::placeholder {
        background-color: $gray;
        color: $white;
        transition: all 0.2s ease-in;

    }

    @media (max-width:1060px) {
        max-width: 541px;
    }

    @media (max-width:767px) {
        max-width: 100%;
    }

}

.form-privacy {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    @media (max-width:767px) {
        flex-direction: column;
        align-items: center;
    }
}

.form-privacy__btn {
    background-color: $orange;
    border-radius: 16px;
    width: 269px;
    padding: 19px 52px;

    color: $white;
    text-align: center;
    font-size: 16px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    transition: all 0.2s ease-in;


    &:hover {
        background-color: $light-orange;
        transition: all 0.2s ease-in;

    }

    &:focus {
        background-color: $light-orange;
        transition: all 0.2s ease-in;

    }

    &:active {
        background-color: $carrot;
        transition: all 0.2s ease-in;

    }

    @media (max-width:1060px) {
        width: 240px;
        padding: 19px 37.5px;
    }
}

.form-privacy-agreement {
    display: flex;
    text-align: center;
    align-items: center;
    margin-top: 11px;

    @media (max-width:767px) {
        position: relative;

        ::after {
            content: "";
            position: absolute;
            top: 57px;
            left: -6px;
            height: 2px;
            width: 290px;
            background-color: $dark-gray;
        }
    }
}

.form-privacy__input {
    position: relative;
    margin-right: 3px;
    width: 14px;
    height: 14px;
    visibility: hidden;

    &:focus {
        outline: none;
    }
}

.form-privacy__label {
    color: $light-gray;
    font-size: 16px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}