.questions {
    margin-bottom: 89px;

    @media (max-width:1060px) {
        margin-bottom: 79px;
    }

    @media (max-width:767px) {
        margin-bottom: 60px;
    }
}

.questions__h3 {
    max-width: 100%;

    @media (max-width:767px) {
        font-size: 18px;
        font-weight: 500;
    }

    @media (max-width:767px) {
        margin-bottom: 4px;
        margin-top: 0;
    }
}

.questions__title {
    @media (max-width:767px) {
        margin-bottom: 20px;
    }
}

.questions__list {
    gap: var(--gap);
    --offsets: 2;
    flex-wrap: wrap;
    display: flex;

    @media (max-width: 1770px) {
        flex-direction: column;
        --offsets: 0;
    }
}

.questions__item {
    padding: 65px 65px 65px 60px;
    width: calc((100% - var(--gap) * var(--offsets)) / (var(--offsets) + 1));
    border-radius: 32px;
    outline: 1px solid $light-gray;

    @media (max-width:800px) {
        height: 200px;
        padding: 35px 65px 35px 40px;
    }

    @media (max-width:767px) {
        height: 100%;
        padding: 0;
        outline: none;
    }
}